<footer class="footer-flotante">
        <div class="container">
            <div class="row g-4">
                <div class="col-12 col-md-6 columna-footer">
                    <h4>¿Quiénes somos?</h4>
                    <p>
                        NutriVida es una clínica de nutrición y dietética fundada en 2016 en Temuco, Región de La
                        Araucanía. Está formada por 4 nutricionistas que atienden pacientes con distintos objetivos:
                        pérdida de peso, control de enfermedades metabólicas, nutrición deportiva y alimentación
                        vegetariana o vegana.
                    </p>
                </div>

                <div class="col-12 col-md-6 columna-footer">
                    <h4>Redes sociales</h4>
                    <ul class="redes-lista">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">X / Twitter</a></li>
                    </ul>
                </div>
            </div>

            <div class="row mt-3 text-center">
                <div class="col-12 footer-copy">
                    <p>&copy; 2026 Clínica Nutricional NutriVida. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>

<footer class="footer-flotante">
        <div class="columna-footer">
            <h4>¿Quiénes somos?</h4>
            <p>
                NutriVida es una clínica de nutrición y dietética fundada en 2016 en Temuco, Región de La
                Araucanía. Está formada por 4 nutricionistas que atienden pacientes con distintos objetivos:
                pérdida de peso, control de enfermedades metabólicas, nutrición deportiva y alimentación
                vegetariana o vegana.
            </p>
        </div>

        <div class="columna-footer">
            <h4>Redes sociales</h4>
            <ul class="redes-lista">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">X / Twitter</a></li>
            </ul>
        </div>

        <div class="footer-copy">
            <p>&copy; 2026 Clínica Nutricional NutriVida. Todos los derechos reservados.</p>
        </div>
    </footer>
